<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://bp/contexteditor/model/metamodel.ecore"
            class="metamodel.MetamodelPackage"
            genModel="model/metamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.tudresden.de/feature"
            class="feature.FeaturePackage"
            genModel="model/metamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.tudresden.de/viewmapping"
            class="viewmapping.ViewmappingPackage"
            genModel="model/metamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.feature.multi.perspective.model/schema/1.0"
            class="viewmodel.ViewmodelPackage"
            genModel="model/metamodel.genmodel"/>
   </extension>

</plugin>
